{% extends "base.html" %}

{% block page_title %}Blog Index{% endblock page_title %}

{% block header %}
<h1>Blog Index</h1>
{% endblock header %}


{% block content %}

<ul id="entries">
{% for entry in entries %}
	<li>
		<a href="{{ entry.href }}">
		{{ entry.date_published | date:"y/n/j H:i" }} -
		{{ entry.title }}
		</a>
	</li>
{% endfor %}
</ul>
{% endblock content %}