{% extends "base.html" %}
{% block comment %}
Feel free to replace this when desired.  I only include this here so I can show off how
I do things.  But I'm a back-end developer at heart.  Maybe a web-designer can make this
more pretty ☺
{% endblock comment %}

{% block page_title %}
{{ entry.date_published | date:"y/n/j" }} : {{ entry.title }}
{% endblock page_title %}

{% block extra_meta_tags %}
<meta title="keywords" content="{{ entry.tags | join:',' }}" />
{% endblock extra_meta_tags %}

{% block header %}
<div>
	<h1>{{ entry.title }}</h1>
</div>
<div>
	<div>
		Date Published:
		{{ entry.date_published | date:"y/n/j" }}
	</div>
	<div>
		Last Modified:
		{{ entry.date_last_modified | date:"y/n/j" }}
	</div>
</div>
{% endblock %}

{% block content %}
<article>
{{ entry.post | safe }}
</article>
{% endblock content %}